<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DataFolder" value="\Data" />
    <add key="ErrorFolder" value="\Exceptions" />
    <add key="DefaultPic" value="\default.jpg"/>
    
    <add key="ToolsDataFileName" value="tools.json" />
    <add key="ToolsExcelFileName" value="tools.xls" />

    <add key="MsgBoxHead" value="Ayitech Solutions" />
  </appSettings>
</configuration>