<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DataFolder" value="\Resources\Data" />
    <add key="DefaultPic" value="\Resources\default.jpg"/>
    <add key="MsgBoxHead" value="Win2k12 - Elimination" />
  </appSettings>
</configuration>